{% include "header.html" %}
<body>
    
    <div id="wrapper">
        <div id="header">
            <br>
            <p><a href="{{url_for('home')}}" class="homelink">Christos B - Projects</a></p>
        </div>
        
        <div id="nav">
            <a href="{{url_for('home')}}" class="topnav">Projects</a>
            <a href="contact.html" class="topnav">About</a>
            <a href="news.html" class="topnav">FAQ</a>
        </div>
        <div id="middle">
            <h1>Chessbot</h1>
                <h2>Take a break,
                    this counts as work&#x1F609; </h2>
            <p>
            Play chess against Fritz one of the most iconic Chess AI
            </p>
            <br><br>

            <button id = "chess_white" type="button" onclick= "window.location.href='{{ url_for( 'chess' , pieces='white' ) }}';">Play as White!</button>
            <button id = "chess_black" type="button" onclick= "window.location.href='{{ url_for( 'chess' , pieces='black' ) }}';">Play as Black!</button>

            <br><br><br><br>
            
            <div id = "chessboard-container">
                
                {%if pieces == 'black' : %}
                    <iframe class =chessboard src="https://fritz.chessbase.com?fen=rnbqkbnr/pppppppp/8/8/4P4/8/PPPP1PPP/RNBQKBNR b KQkq - 0 1" ></iframe>
                {%else :%}
                    <iframe class =chessboard src="https://fritz.chessbase.com?fen=rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 0" ></iframe>
                {% endif %}
            </div>
            
            <br>
            <p>Simply drag and drop the piece.<br>
            Select your piece color with the buttons
            </p>
        </div>
        


    </div>
    <br>
{% include "footer.html" %}