{% include "header.html" %}
<body>
    
    <div id="wrapper">
        <div id="header">
            <br>
            <p><a href="{{url_for('home')}}" class="homelink">Christos B - Projects</a></p>
        </div>
        
        <div id="nav">
            <a href="{{url_for('home')}}" class="topnav">Projects</a>
            <a href="contact.html" class="topnav">About</a>
            <a href="news.html" class="topnav">FAQ</a>
        </div>
       
        <div id="middle">
            <h1>Deal Finder</h1>
                <h2>Find flights to your destination
                    that match your budget </h2>
            <p>
            Describe your ideal flights , and find if there is a match in the next 6 months
            </p>
            <br><br>
            <br><br><br><br>
                
            
          
            </p>
        </div>
        


    </div>
    <br>
{% include "footer.html" %}