<!--Footer-->
<div id="footer">
   
    <footer>
         <img src="/static/assets/images/project_thumbnails/squiggle.jpg" class="displayed" id="squiggle" alt = "squiggle" >
    <br>
    <br>
        &#169; COPYRIGHT <script type="text/javascript">
        <!-- Begin
        var time=new Date();
        var year=time.getYear();
        if (year < 2000)
        year = year + 1902;
        document.write(year);
        // End -->
    
        </script><img src="/static/assets/images/project_thumbnails/spex2.gif" class="displayed" id="specs" alt = "glasses" /><div id="future">(THE FUTURE)</div>
    </footer>
    <br>
    <br>

</div>
<br>
</body>
</html>