<!-- Header -->
<!DOCTYPE html>
<html lang="en">
	<head>
		
		<!-- Setting the metadata    -->
		<meta charset="utf-8" />
		<meta name="author" content="Christos Bekiarian"/>
		<meta name="description" content="Personal portofolio website" />
		<meta http-equiv="Content-Type" content="text/html; charset=shift_jis">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<!-- Linking the CSS and icon    -->
		<title> Bekiarian Portofolio</title>
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
		<link rel="tab icon"  type="image/x-icon"  href="/static/assets/favicon.ico"/>
		
	</head>
