<!--Setting metadata and importing styles-->
{% include "header.html" %}

    <!-- Body content begins  -->
	<body>
		<!-- Wrapper that contains the whole website -->
		<div id="wrapper">
			<!--Contains the image and tagline -->
			<div id="header">
				<br>
				<!-- Profile Image	-->
				<img src="/static/assets/images/profile_pic.png" id="grow" width="150" style="border-radius: 50%">
				<br>
				<!-- Tagline -->
				<p>Christos Bekiarian is a Greek software engineer
					<br>On a journey from fresh Grad to
					<br>Code Maven with a simple goal
					<br>Build Tomorrow's Solutions Today
				</p>
			</div>
			<br>
			<!-- Nav bar -->
			<div id="nav">
				<a href="illustration.html" class="onpage">Projects</a>
				<a href="design.html" class="topnav">About</a>
				<a href="contact.html" class="topnav">FAQ</a>
			</div>
			<!--width =217 , height			-->
			<!-- First column -->
			<div id="c1">
		
				<div class="fart  john"  >
					<a href="{{url_for('chess')}}"><img class="lil" width="217"  src="/static/assets/images/project_thumbnails/chess_bot.png" style="display: inline;">
					<span class="arrow">CHESS BOT</span></a>
				</div>
		
				<div class="fart john">
					<a href="{{url_for('thesis')}}"><img class="lil" data-original="/static/assets/images/diploma.png" src="/static/assets/images/project_thumbnails/diploma.png" style="display: inline;">
					<span class="arrow">THESIS</span></a>
				</div>
		
				<div class="fart  idle" >
					<a href="fortune.html"><img class="lil" src="/static/assets/images/project_thumbnails/fmthumb.gif">
					<span class="arrow">FORTUNE MAGAZINE</span></a>
				</div>
		
				<div class="fart john" >
					<a href="investor.html"><img class="lil" src="/static/assets/images/project_thumbnails/iithumb.jpg">
					<span class="arrow">INSTITUTIONAL INVESTOR</span></a>
				</div>
		

			</div>
			
			<!-- Second column -->
			<div id="c2">
				
				<div class="fart idle" >
					<a href="{{url_for('flights')}}"><img class="lil" src="/static/assets/images/project_thumbnails/airplane.jpg">
					<span class="arrow">DEAL FINDER</span></a>
				</div>
		
				<div class="fart john" >
					<a href="iron.html"><img class="lil" width="217" src="/static/assets/images/project_thumbnails/stock_up.jpg">
					<span class="arrow">STOCK ALERT</span></a>
				</div>
		
			
		
				<div class="fart john" >
					<a href="pride.html"><img class="lil" src="/static/assets/images/project_thumbnails/pridethumb.jpg">
					<span class="arrow">PRIDE</span></a>
				</div>
				
				<div class="fart john" >
					<a href="thinkers.html"><img class="lil" src="/static/assets/images/project_thumbnails/phthumb.gif">
					<span class="arrow">THINKERS</span></a>
				</div>
				
			</div>
			
	
			<!-- Third column -->
			<div id="c3">
				<div class="fart john" >
					<a href="heart.html"><img class="lil" src="/static/assets/images/project_thumbnails/heartthumb.jpg">
					<span class="arrow">MY HEART</span></a>
				</div>
		
				<div class="fart john" >
					<a href="holy.html"><img class="lil" src="/static/assets/images/project_thumbnails/holythumb.jpg">
					<span class="arrow">HOLY RELICS</span></a>
				</div>
		
				<div class="fart john" >
					<a href="localized.html"><img class="lil" src="/static/assets/images/project_thumbnails/slugthumb.jpg">
					<span class="arrow">LOCALIZED</span></a>
				</div>
		
				<div class="fart john" >
					<a href="byumap.html"><img class="lil" src="/static/assets/images/project_thumbnails/bymt2.jpg">
					<span class="arrow">BYU MAGAZINE</span></a>
				</div>
		

	
			</div>
			
			<!-- Fourth column -->
			<div id="c4">
				
				<div class="fart john" >
					<a href="threepio.html"><img class="lil" src="/static/assets/images/project_thumbnails/3p0thumb.jpg">
					<span class="arrow">THREEPIO</span></a>
				</div>
			
				<div class="fart john" >
					<a href="grizzly.html"><img class="lil" src="/static/assets/images/project_thumbnails/bearthumb.jpg">
					<span class="arrow">GRIZZLY</span></a>
				</div>
		
				<div class="fart john" >
					<a href="how.html"><img class="lil" src="/static/assets/images/project_thumbnails/howthumb.jpg">
					<span class="arrow">HOW MAG</span></a>
				</div>
		
				<div class="fart john" >
					<a href="how.html"><img class="lil" src="/static/assets/images/project_thumbnails/howthumb.jpg">
					<span class="arrow">HOW MAG</span></a>
				</div>

	
			</div>
		</div>
{% include "footer.html" %}
		