{% include "header.html" %}
<body>
    
    <div id="wrapper">
        <div id="header">
            <br>
            <p><a href="{{url_for('home')}}" class="homelink">Christos B - Projects</a></p>
        </div>
        
        <div id="nav">
            <a href="{{url_for('home')}}" class="topnav">Projects</a>
            <a href="contact.html" class="topnav">About</a>
            <a href="news.html" class="topnav">FAQ</a>
        </div>
        <div id="middle">
            <h1>THESIS</h1>
                <h2>My thesis on Deep learning for edge caching</h2>
            <p>
            placeholder
            
            </p>
            <br><br>

           
        </div>



    </div>
    
    
 
    <!-- Embed PDF -->
        <iframe id = "thesis" class="pdf-container" src="/static/assets/Bekiarian_christos.pdf#view=FitH" ></iframe>

<!--    <embed src="/static/assets/Bekiarian_christos.pdf" id ="thesis"  />-->
    <br>
{% include "footer.html" %}